body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  /*background-image: url("../img/yo33.png");*/
  background-size: 90%;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: left;
  margin-left: 30px;
  margin-top: 5px;
}



/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }
}
  .navbar-brand{
    width: 100px;
  }
  .list-group{
    list-style-type:none;
  }

 .perfil-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
 } 

.img-presentation img {
  display: block;
  width: 400px;
  max-width: 400px;
  object-fit: cover;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid #c4c4c4;

}

  .title-presentation h1 {
    color:#373a3c;
    font-size: 4rem;
    font-weight: 800;
    text-align: left;
    padding: 50px;
  }

